<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEZ9qGpKlyzgvLOmHJzhcGYB3Vk4nts0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>404307997188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.bokingdoctor</string>
	<key>PROJECT_ID</key>
	<string>bookingdoktor-3b967</string>
	<key>STORAGE_BUCKET</key>
	<string>bookingdoktor-3b967.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404307997188:ios:246caba4d500e83515fb51</string>
</dict>
</plist>